@model DesafioMVC.DTO.EstabelecimentoDTO
@{
    Layout = "_Layout";
}
<h4>Atualizar estabelecimento</h4>
<hr>
<form class="form-horizontal" asp-controller="Estabelecimentos" asp-action="Atualizar" method="POST">
    <input type="hidden" asp-for="Id">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Ex: Bar do Fulano">
    <span asp-validation-for="Nome"></span>
    <br>
    <label asp-for="Endereco">Endereço</label>
    <input type="text" asp-for="Endereco" class="form-control" placeholder="Ex: Rua ... nº...">
    <span asp-validation-for="Endereco"></span>
    <br>
    <label asp-for="Email">Email</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="Ex: fulano@fulano.com">
    <span asp-validation-for="Email"></span>
    <br>
    <label asp-for="Telefone">Telefone</label>
    <input type="text" asp-for="Telefone" class="form-control" placeholder="XX XXXX XXXX">
    <span asp-validation-for="Telefone"></span>
    <br>
    <button class="btn btn-success">Atualizar</button>
</form>