@model DesafioMVC.DTO.GeneroDTO
@{
    Layout = "_Layout";
}

<div class="container text-center" style="margin-top: 1rem;">
    <h4>ATUALIZAÇÃO DE GÊNEROS MUSICAIS</h4>
    <hr>
</div>

<form class="form-horizontal" asp-controller="Generos" asp-action="Atualizar" method="POST">
    @if (@ViewBag.Mensagem != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.Mensagem
        </div>
    }
    <input type="hidden" asp-for="Id">
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Ex: Samba">
    <span asp-validation-for="Nome"></span>
    <br>
    <button class="btn btn-success">Atualizar</button>
</form>