@model IEnumerable<DesafioMVC.Models.Genero>
@{
    Layout = "_Layout";
}

<script>
    $(document).ready( function () {
    $('#generos').DataTable({
        "info": false,
        "language": {"search": "Buscar:",
                     "lengthMenu": "Mostrando _MENU_ registros por página",
                     "zeroRecords": "Desculpa, Nada encontrado.", 
                     "paginate": {
                        "first":      "Primeiro",
                        "last":       "Último",
                        "next":       "Próximo",
                        "previous":   "Anterior"
                        }
                    }
        });
    });
</script>

<h4>Gêneros musicais</h4>
<hr>
<a class="btn btn-dark" asp-controller="Admin" asp-action="CadastrarGenero">Cadastrar</a>

<table id="generos" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genero in Model)
        {
            <tr>
                <td>@genero.Id</td>
                <td>@genero.Nome</td>
                <td>
                    <a class="btn btn-primary" href="/Admin/EditarGenero/@genero.Id">Editar</a>
                    <form asp-controller="Generos" asp-action="Deletar" method= "POST" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@genero.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>