@using System.Globalization
@model IEnumerable<DesafioMVC.Models.Evento>
@{
    Layout = "_Layout";
}

<div class="container my-3 p-0" style="height: 10vh; display: flex; justify-content: center; align-items: center">
    <div class="w-100 h-100 bg-dark text-white rounded" style="flex: 3;">
            <h1 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Dashboard</h1>
    </div>
</div>
<hr class="mb-0">

<div class="flex-row mb-3">
    @foreach (var evento in Model)
    {
        <div class="flex-column mt-3" style="flex: 1;">
            <div class="row w-100 p-3 text-center border rounded" style="align-items: center;">
                <div class="col">
                    <h4 class="m-0">@evento.Nome</h4>
                    <p class="m-0">@evento.Data.ToString("g", CultureInfo.GetCultureInfo("pt-BR")).Substring(0,10)</p>
                </div>
                <div class="col">
                    <canvas id="chartProgress"></canvas>
                    <script>
                            
                    </script>
                </div>
                
            </div>
        </div>
    }
</div>

