@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUserClaim<string>>
@{
    Layout = "_Layout";
}

<script>
    $(document).ready( function () {
    $('#opcoes').DataTable({
        "info": false,
        "language": {"search": "Buscar:",
                     "lengthMenu": "Mostrando _MENU_",
                     "zeroRecords": "Desculpa, Nada encontrado.", 
                     "paginate": {
                        "first":      "Primeiro",
                        "last":       "Último",
                        "next":       "Próximo",
                        "previous":   "Anterior"
                        }
                    }
        });
    });
</script>

<div class="container my-3 p-0" style="height: 10vh; display: flex; justify-content: center; align-items: center">
    <div class="w-100 h-100 bg-dark text-white rounded-left" style="flex: 3;">
            <h1 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Opções de administrador</h1>
    </div>
    <a class="w-100 h-100 bg-success text-white rounded-right" style="flex: 1; text-decoration: none" asp-controller="Admin" asp-action="Promover">
        <h4 class="m-0" style="position: relative; top: 50%; text-align: center; transform: translate(0, -50%);">Promover</h4>
    </a>
</div>
<hr>

<table id="opcoes" class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.ClaimValue</td>
                <td>
                    @if (!user.ClaimValue.Equals("admin"))
                    {
                    <form asp-controller="Opcoes" asp-action="Remover" method= "POST" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@user.Id">
                        <button class="btn btn-danger">Remover permissão de administrador</button>
                    </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>