@model DesafioMVC.DTO.PromoverDTO 
@{
    Layout = "_Layout";
}
          
<div class="container text-center" style="margin-top: 1rem;">
    <h4>PERMISSÕES DE USUÁRIOS</h4>
    <hr>
</div>

<form class="form-horizontal" asp-controller="Opcoes" asp-action="Promover" method= "POST">
    @if (@ViewBag.Mensagem != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @ViewBag.Mensagem
        </div>
    }
    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" id="Nome">
    <br>
    <label asp-for="Email">Email</label>
    <input type="text" asp-for="Email" class="form-control" id="Email">
    <br>
    <button class="btn btn-success">Promover</button>
</form>

