<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] Blue Ridge</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

 <!-- Load JQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    div {
    display: block;
    }

    html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    }   

    *, ::after, ::before {
    box-sizing: inherit;
    }

    body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    body, html {
    height: 100%;
    font-family: Poppins-Regular,sans-serif;
    }

    .limiter {
    width: 100%;
    margin: 0 auto;
    }

    .containerContent {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
    }

    .wrapContent {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 33px 55px 33px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    }

    .img-carousel {
        height: calc(100vh - 118px);
    }

</style>

