@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Bem vindo -";
}


<div class="container text-center">
    <div class="form-row align-items-center mb-3">
        <img src="~/Assets/logos/dark_logo_transparent_background.png" class="img-fluid"/>
    </div>
    <div class="form-row align-items-center">
        <div class="col mr-1 btn btn-dark">
            <a class="text-white" style="text-decoration: none;" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </div>
        <div class="col btn btn-dark">
            <a class="text-white" style="text-decoration: none;" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
        </div>
        
    </div>
</div>        






