@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ops! Acesso negado.";
}

<header class="text-center">
    <h3 class="text-danger">@ViewData["Title"]</h3>
    <p class="text-danger">Você não tem permissão para acessar essa página.</p>
</header>
