@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email verificado";
}

<div class="text-center">
    <h3>@ViewData["Title"]</h3>
    <hr>
    <div class="form-group">
        <p>
            <a class="btn btn-dark" asp-page="./Login">Voltar</a>
        </p>
    </div>
</div>