@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confira seu email";
}

<div class="text-center">
    <h4>@ViewData["Title"]</h4>
    <hr>
    <div>
        <a class="btn btn-dark" asp-page="./Login">Voltar</a>
    </div>
</div>


